.balls {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: GRAY;
    color: white;
    left: 50%;
    top: 50%;
}
#phone-number {
    position: absolute;
    width: 100%;
    text-align: center;
}

#hint {
    display: none;
    color: red;
}